<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" >
<head>
    <meta charset="UTF-8">
    <title>Add Task</title>
</head>
<body>
Add Task
<form action="/tasks/add" method="post">
    <input type="text" name="title" placeholder="please input title"/> <br>
    Description: <textarea name="description" ></textarea> <br>
    <input type="date" name="deadline"/> <br>
    <select name="status">
        <option value="TODO">TODO</option>
        <option value="IN_PROGRESS">IN PROGRESS</option>
        <option value="TESTING">TESTING</option>
        <option value="DONE">DONE</option>
    </select> <br>
    <select name="user.id">
        <option value="0">unassigned</option>
        <option th:each="user: ${users}" th:text="${user.name + ' ' + user.surname}" th:value="${user.id}"></option>
    </select>
    <input type="submit" value="add Task">
</form>
</body>
</html>